.todo {
  position: relative;
  background-color: var(--dark);
  padding: 1rem;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  transition: 0.5s;
  cursor: pointer;
  margin-bottom: 1rem;
}

.todo:hover {
  opacity: 0.8;
}

.todo .checkbox {
  width: 1.25rem;
  height: 1.25rem;
  margin-right: 1rem;
  border-radius: 50%;
  background-color: var(--dark-alt);
  background-image: linear-gradient(to bottom, transparent, transparent);
  transition: 0.4s;
}

.todo.is-complete .checkbox {
  background-color: var(--primary);
  background-image: linear-gradient(
    to bottom,
    var(--primary),
    var(--secondary)
  );
}

.todo .text {
  font-size: 1.25rem;
}

.todo.is-complete .text {
  text-decoration: line-through;
}

.todo .delete-todo {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 1rem;
  color: var(--light);
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  background-color: #af1d2bc0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
}

.addPopup {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;

  width: 4rem;
  height: 4rem;
  border-radius: 62.4375rem;
  font-size: 1.75rem;
  font-weight: 900;
  color: var(--light);
  background-color: var(--primary);
  background-image: linear-gradient(
    to bottom right,
    var(--primary),
    var(--secondary)
  );
  cursor: pointer;
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 100%;
  max-width: 25rem;
  background-color: rgba(92, 116, 173, 0.945);
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0rem 0.25rem 2rem var(--dark);
}

.closePopup {
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 1.25rem;
  height: 1.25rem;
  font-size: 1.25rem;
  color: var(--dark);
  cursor: pointer;
}

.popup h3 {
  color: var(--dark);
  margin-bottom: 1rem;
  font-weight: 400;
  text-transform: uppercase;
}

.add-todo-input {
  appearance: none;
  outline: none;
  border: none;
  background-color: rgba(255, 255, 255, 0.438);
  padding: 1rem;
  border-radius: 1rem;
  width: 100%;
  box-shadow: 0rem 0.125rem 1.5rem rgba(0, 0, 0, 0.542);
  font-size: 1.25rem;
}

.button {
  padding: 1rem 2rem;
  border-radius: 62.4375rem;
  background-image: linear-gradient(to right, var(--primary), var(--secondary));
  display: inline-block;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.125rem;
  margin-top: 1rem;
  text-align: center;
  cursor: pointer;
}
