.todo {
  position: relative;
  background-color: var(--dark);
  padding: 1rem;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  transition: 0.5s;
  cursor: pointer;
  margin-bottom: 1rem;
}

.todo:hover {
  opacity: 0.8;
}

.todo .checkbox {
  width: 1.25rem;
  height: 1.25rem;
  margin-right: 1rem;
  border-radius: 50%;
  background-color: var(--dark-alt);
  background-image: linear-gradient(to bottom, transparent, transparent);
  transition: 0.4s;
}

.todo.is-complete .checkbox {
  background-color: var(--primary);
  background-image: linear-gradient(
    to bottom,
    var(--primary),
    var(--secondary)
  );
}

.todo .text {
  font-size: 1.25rem;
}

.todo.is-complete .text {
  text-decoration: line-through;
}

.todo .delete-todo {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 1rem;
  color: var(--light);
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  background-color: #af1e2d;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
}

.addPopup {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;

  width: 4rem;
  height: 4rem;
  border-radius: 62.4375rem;
  font-size: 1.75rem;
  font-weight: 900;
  color: var(--light);
  background-color: var(--primary);
  background-image: linear-gradient(
    to bottom right,
    var(--primary),
    var(--secondary)
  );
  cursor: pointer;
}
