h1 {
  font-family: "Roboto";
  text-align: center;
  margin-bottom: 2px;
  color: rgba(163, 183, 182, 0.807);
}

.timer-wrapper {
  display: flex;
  justify-content: center;
}

.timer {
  font-family: "Montserrat";
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text {
  color: yellow;
}

.value {
  font-size: 40px;
}

.info {
  max-width: 360px;
  margin: 40px auto 0;
  text-align: center;
  font-size: 16px;
  background-color: rgba(128, 84, 169, 0.751);
  box-shadow: 1px 1px 5px rgba(9, 142, 186, 0.601),
    0 9px 30px 10px rgba(2, 23, 26, 0.832);
  border-radius: 12px;
  padding: 4px;
  color: rgb(70, 157, 157);
  padding-top: 3px;
  padding: 6px;
}

.add {
  padding: 6px;
}

.minus {
  margin-left: 30px;
}

.five-btn {
  display: flex;
  flex-direction: row;
  padding-bottom: 26px;
}

.click-btn {
  display: flex;
  flex-direction: row;
}

.pause {
  margin-left: 40px;
}
