.footer {
  display: flex;
  //   margin-bottom: 16px;
  justify-content: center;

  &__create {
    background-color: #08080875;
    border-radius: 25px;
    padding: 10px 20px;
    box-shadow: 1px 1px 5px rgba(255, 255, 255, 0.15),
      0 15px 30px 30px rgba(0, 0, 0, 0.381);
    margin-top: 17rem;
    display: flex;
  }
}
