.header {
  &__logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__logo {
    width: 5rem;
    height: 5rem;
  }
  &__mvp {
    display: flex;
    font-style: italic;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
  }
  &__mvp-box {
    display: flex;
    flex-direction: column;
  }

  &__btn-container {
    padding-top: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}
